:root {
    --primary-color: #22ba98;
    --secondary-color: #e36242;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --radius: 12px;


}

/* HEADER STYLES */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color:var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }